{% load static %}
{% load django_markdown %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Le site de notre voyage direction l'Australie !">
    <meta name="author" content="Al Ouest">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/ico" />
    <title>{% block title %}Destination Australia{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">

    <!-- Custom styles -->
    {% block style %}<link href="{% static 'css/custom.css' %}" rel="stylesheet">{% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div class="row" style="height: 100%;margin: 0 !important;padding: 0 !important;">
    <div class="col-sm-4 col-md-3" style="margin-top: 0 !important;padding: 2px !important;height: 100%;overflow-y:auto;">
        <h1 class="travel_title">Destination Australie</h1>
        <p class="text-info text-justify" style="margin: 10px;">Tu peux voir nos notes en cliquant sur les marqueurs de la carte ou dans la liste en dessous. Ecris nous ça fait toujours plaisir ;-) Love</p>
        <div class="list-group">
            {% for milestone in milestone_list %}
                <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal{{ forloop.counter0 }}">
                    <h4 class="list-group-item-heading">{{ milestone }} <small> {{ milestone.arrival_date }}</small></h4>
                    {% if milestone.photos.first.photo %}
                        <img src="{{ milestone.photos.first.photo.url }}" style="height: 70px;{% if forloop.counter0|divisibleby:'2' %}float:left;margin-right: 5px;{% else %}float:right;margin-left: 5px;{% endif %}">
                    {% endif %}
                    <p class="list-group-item-text text-justify">{{ milestone.text|truncatechars:'100'|markdown }}</p>
                </a>
                <!-- Modal -->
                <div class="modal fade" id="myModal{{ forloop.counter0 }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h3 class="modal-title" id="myModalLabel">{{ milestone }} <small>le {{ milestone.arrival_date }}</small></h3>
                            </div>
                            <div class="modal-body">
                                {% if milestone.photos %}
                                    <h4>Photos</h4>
                                    {% for photo in milestone.photos.all %}
                                        <img src="{{ photo.photo.url }}" style="width: 100%;margin-bottom: 10px;">
                                    {% endfor %}
                                {% endif %}

                                {% if milestone.video %}
                                    <h4>Vidéo</h4>
                                    <p>Si c'est de la zic, c'est à écouter en lisant nos notes, pour l'ambiance ;-)</p>
                                    <iframe width="100%" height="330px" src="{{ milestone.video }}" frameborder="0" allowfullscreen></iframe>
                                {% endif %}

                                <h4>Note</h4>
                                <div class="text-justify" style="margin-bottom: 20px;font-size: 15px;">
                                    <p>{{ milestone.text|markdown }}</p>
                                </div>
                                <hr>
                                {% if milestone.comments.all.count > 0 %}
                                    <h4>Commentaires</h4>
                                    {% for comment in milestone.comments.all %}
                                        <div class="well well-sm" style="font-size: 14px;">
                                            <p class="small text-muted">Commentaire posté par <b class="text-primary">{{ comment.alias }}</b> le {{ comment.pub_date }}</p>
                                            <p>{{ comment.content|markdown }}</p>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {# TODO Handle form error in same page #}
                                <form method="post" action="{% url 'travel:milestone_comment' milestone.slug %}" class="form-horizontal">
                                    {% if form.subject.errors %}
                                        <ol>
                                            {% for error in form.subject.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                        </ol>
                                    {% endif %}
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">Commenter</h2>
                                        </div>
                                        <div class="panel-body">
                                            <fieldset>
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="alias" class="col-lg-2 control-label">Ton nom</label>
                                                    <div class="col-lg-10">
                                                        <input id="alias" type="text" name="alias" class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="content" class="col-lg-2 control-label">Message</label>
                                                    <div class="col-lg-10">
                                                        <textarea id="content" name="content" class="form-control" rows="3" required></textarea>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-primary form-control">Commenter</button>
                                            </fieldset>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <p id="swag"><span class="glyphicon glyphicon-heart colorCycle" aria-hidden="true"></span> Site fait avec amour par <a href="https://github.com/Al-Ouest" target="_blank">Al Ouest</a> <span class="glyphicon glyphicon-heart colorCycle" aria-hidden="true"></span></p>
        </div>
    </div>
    <div class="col-sm-8 col-md-9" style="height: 100%;margin: 0 !important;padding: 0 !important;">
        <div id="map"></div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
<script>
    function initialize() {
        var bounds = new google.maps.LatLngBounds();
        var myOptions = {
            zoom: 15
        };
        var map = new google.maps.Map(document.getElementById("map"), myOptions);
        var markers = [];

        displayMarkers();

        drawTravelPath();

        map.fitBounds(bounds);

        function displayMarkers(){
            {% for milestone in milestone_list %}
                markers.push({
                    position: new google.maps.LatLng({{ milestone.latitude|safe }}, {{ milestone.longitude|safe }}),
                    map: map,
                    title: '{{ milestone.title }}',
                    image: '{{ milestone.photos.first.photo.url }}',
                    date: '{{ milestone.arrival_date }}',
                    slug: '{{ milestone.slug }}',
                    data: '{{ milestone.text|markdown|escapejs }}'});
            {% endfor %}
            var infowindow = new google.maps.InfoWindow(), i, marker;
            for (i = 0; i < markers.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(markers[i]['position']['A'], markers[i]['position']['F']),
                    map: map
                });
                bounds.extend(marker.position);
                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        {% comment %}infowindow.setContent('<div id="content">' +
                        '<h2 id="firstHeading" class="firstHeading">' + markers[i]['title'] + ' <small>le ' + markers[i]['date'] + '</small></h2>');
                        if (markers[i]['image']){
                            infowindow.setContent(infowindow.getContent() + '<img src="' + markers[i]['image'] +'" style="width:100px;float:left;margin:0 10px 10px 0;"">');
                        }
                        infowindow.setContent(infowindow.getContent() + '<div id="bodyContent" style="text-align: justify;font-size: 15px;">' + markers[i]['data'] + '</div>'+
                        '<p class="text-muted">Pour voir toutes les images et laisser un commentaire, clique sur cette étape dans la liste de gauche !</p>' + '</div>');
                        infowindow.open(map, marker);{% endcomment %}
                        $('#myModal'+i).modal();
                    }
                })(marker, i));
            }
        }

        function drawTravelPath(){
            var i, travelPlanCoordinates = [];
            for (i = 0; i < markers.length; i++) {
                travelPlanCoordinates.push(
                        new google.maps.LatLng(markers[i]['position']['A'], markers[i]['position']['F'])
                );
            }
            var travelPath = new google.maps.Polyline({
                path: travelPlanCoordinates,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });
            travelPath.setMap(map);
        }
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
</body>
</html>