body, html, #map {
    height: 100%;
    width: 100%;
}
.travel_title {
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 0;
    color: #FB7064;
}
h2 {
    margin: 0 0 10px 0;
}
a.list-group-item {
    min-height: 115px;
}
.list-group-item {
    padding: 10px 10px;
}
.list-group-item p {
    margin: 0;
    line-height: 1.2;
}
.list-group {
    margin-bottom: 0;
}
.modal-body {
    padding: 0 20px 0 20px;
}
#swag {
    margin: 0;
    text-align: center;
    position: relative;
    bottom: 0;
}
.colorCycle {
    padding-top: 5px; padding-right: 7px; padding-bottom: 7px; padding-left: 7px;
    text-align: center;
    animation-name: homeCycle;
    animation-duration:6s;
    animation-direction:alternate;
    animation-iteration-count:infinite;

    -webkit-animation-name: homeCycle;
    -webkit-animation-duration:6s;
    -webkit-animation-direction:alternate;
    -webkit-animation-iteration-count:infinite; }

@keyframes homeCycle
{
    0% {color:#006;}
    25% {color:#060;}
    50% {color:#CC3200;}
    75% {color:#603;}
}

@-webkit-keyframes homeCycle
{
    0% {color:#006;}
    25% {color:#060;}
    50% {color:#CC3200;}
    75% {color:#603;}
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	#milestone_container {height:50%!important;}
	#map_container {height:50%!important;}	
}
