body, html, #map {
    height: 100%;
    width: 100%;
}
.travel_title {
    margin: 0;
    padding: 10px 0 10px 0;
    text-align: center;
}
h2 {
    margin: 0 0 10px 0;
}
a.list-group-item {
    min-height: 90px;
}